* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
}

h3 {
    text-align: right;
    padding: 60px;
    font-size: 18px;
}

nav ul{
    list-style-type: none;
    gap:20px;
    display: flex;
    padding-bottom: 1px;
}

nav ul li a{
    font-size: 25px;
}

article{
    background-color: 213E4A;
    height:380px;
    border-radius: 8px;
    margin: 50px 50px;
}

p{
    display: flex;
    font-size: 25px;
}

article h2 {
    text-align: center;
    padding-bottom: 15px;
}

article{
    border-bottom: 1px solid red;
    padding-bottom: 15px;
}


.article-content{
    background-color: rgb(55, 84, 81);
    height:340px;
    border-radius: 8px;
    padding-top: 20px;
}

main{
    border-bottom: 3px solid black;
    padding-bottom: 0px;
}

img{
    width: 500px;
    height: 300px;
    margin-right: 15px;
    border-radius: 8px;
    float:right;
    margin-right: 30px;
}

footer{
    text-align: center;
}